html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    background-color: white;
}

body {
    width: 100%;
}

@keyframes appear {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

#phonegridlogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
}

.shapes {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    border-right: 1px white solid;
    border-radius: 0px 10px 10px 0px;
}

#shape1 {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 10px;
    width: 90%;
    background-color: #950952;
}

#shape2 {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 10px;
    width: 80%;
    background-color: #3C7A89;
}

#shape3 {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 10px;
    width: 90%;
    background-color: #D5A021;
}

#shape4 {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    height: 5px;
    align-self: center;
    border-right: 1px white solid;
    border-radius: 0px 10px 10px 0px;
    margin-right: 20px;
}

#shape1, #kitty {
    animation: appear 2s forwards;
}

#shape2, #kibble {
    animation: appear 2.5s forwards;
}

#shape3, #calc {
    animation: appear 3s forwards;
}

#shape4 {
    animation: appear 3.5s forwards;
}

h1 {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 40px;
    color: black;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

#kitty {
    grid-row-start: 1;
    grid-row-end: 2;
}

#kibble {
    grid-row-start: 2;
    grid-row-end: 3;
}

#calc {
    grid-row-start: 3;
    grid-row-end: 4;
}

#multipliersection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: 20%;
    align-items: center;
    font-family: 'Crimson Text', serif;
}

#weightquestion {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#weightanswer {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#weighttype {
    align-self: start;
    justify-self: center;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

#kg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#kglabel {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: small;
}

#lb {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#lblabel {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    font-size: small;
}

#agequestion {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#ageanswer {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#neuterquestion {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#neuteranswer {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

#healthquestion {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

#healthanswer {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

#calculatebutton {
}

#weightquestion, #agequestion, #neuterquestion, #healthquestion {
    text-align: right;
}

#weightanswer, #ageanswer, #neuteranswer, #healthanswer {
    width: 80%;
    justify-self: center;
}

select {
    font-family: 'Crimson Text', serif;
}

#disclaimer {
    display: none;
}
