html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 100%;
}

#background {
    z-index: -1;
    position: absolute;
    width: 100%;
    top: 140px;
    opacity: 0%;
    animation: backgroundappear 5s forwards;
    animation-delay: 3s;
}

@keyframes backgroundappear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

#grandparent {
    overflow-x: hidden;
}

@keyframes appear {
    from {
        transform: translateX(500px);
    }
    to {
        transform: translateX(0);
    }
}

#phonegridlogo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    overflow-x: hidden;
}

.shapes {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    border-right: 1px white solid;
    border-radius: 0px 10px 10px 0px;
}

#shape1 {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 10px;
    width: 90%;
    background-color: #950952;
}

#shape2 {
    grid-row-start: 2;
    grid-row-end: 3;
    height: 10px;
    width: 80%;
    background-color: #3C7A89;
}

#shape3 {
    grid-row-start: 3;
    grid-row-end: 4;
    height: 10px;
    width: 90%;
    background-color: #D5A021;
}

#shape4 {
    background-color: black;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    height: 5px;
    align-self: center;
}

#shape1, #kitty {
    animation: appear 2s forwards;
}

#shape2, #kibble {
    animation: appear 2.5s forwards;
}

#shape3, #calc {
    animation: appear 3s forwards;
}

#shape4 {
    animation: appear 3.5s forwards;
}

h1 {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 40px;
    color: black;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: 400;
    justify-self: end;
    align-self: center;
    margin-right: 20px;
}

#kitty {
    grid-row-start: 1;
    grid-row-end: 2;
}

#kibble {
    grid-row-start: 2;
    grid-row-end: 3;
}

#calc {
    grid-row-start: 3;
    grid-row-end: 4;
}

#multipliersection {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: auto;
    margin: auto;
    align-items: center;
    justify-items: center;
    font-family: 'Crimson Text', serif;
    font-size: 15px;
    font-weight: bold;
    overflow-x: hidden;
}

#weightquestion {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#weightanswer {
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

#weighttype {
    width: 80%;
    align-self: start ;
    justify-self: center;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 20px;
}

#kg {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#kglabel {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#lb {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#lblabel {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
}

#agequestion {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#ageanswer {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

#neuterquestion {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#neuteranswer {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

#healthquestion {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#healthanswer {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#weightquestion, #agequestion, #neuterquestion, #healthquestion {
    text-align: right;
    justify-self: end;
    padding: 10%;
}

#weightanswer, #ageanswer, #neuteranswer, #healthanswer {
    width: 80%;
    justify-self: center;
}

select {
    font-family: 'Crimson Text', serif;
    border: 3px solid #3C7A89;
    border-radius: 5px;
}

#calculatebutton {
    text-align: center;
}

#button {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: white;
    background-color: #3C7A89;
    border: 3px solid black;
    border-radius: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #950952;
    border: 5px solid black;
    border-radius: 25px;
    transform: scale(0, 0);
    animation: form 1s forwards;
    animation-delay: 3s;
}

#disclaimertext {
    text-align: center;
    font-weight: bold;
    background-color: #950952;
    color: white;
    border-radius: 25px;
    font-family: 'Crimson Text', serif;
    line-height: 200%;
    margin: 20px;
}

#disclaimerbutton {
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: white;
    background-color: #3C7A89;
    border: 3px solid black;
    border-radius: 25px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

#answer {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: #950952;
    border: 5px solid black;
    border-radius: 25px;
}

.parent {
    width: 80%;
    background-color: #D5A021;
    margin: auto;
    height: 0;
    overflow-x: hidden;
}

@keyframes form {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}

#removedisclaimer {
    animation: disappear 1s forwards;
}

@keyframes disappear {
    from {
        display: block;
        transform: scale(1, 1);
    }
    to {
        transform: scale(0, 0);
        display: none;
}
}

#formappear {
    display: block;
    border: 0px solid black;
    border-radius: 25px;
    animation: formappear 2s forwards;
    animation-delay: 1s;
}

@keyframes formappear {
    from {
        height: 0;
        border: 5px solid black;
        transform: translateX(500px);
    }
    to {
        height: 100%;
        border: 5px solid black;
        transform: translateX(0);
}
}

.agelink {
    display: none;
}

#ageappear {
    display: block;
    background-color:#D5A021;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    text-align: center;
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 25px;
    animation: ageappear 2s forwards;
}

@keyframes ageappear {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

a:visited {
    color: #3C7A89;
}

a:link {
    color: #3C7A89;
}